:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --amogus: #ffffff;
  --bs-dark: #121212;
}

html {
  scroll-behavior: smooth !important;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


@keyframes flicker {
  0% {
    opacity: 100%;
  }

  25% {
    opacity: 0%;
  }

  34% {
    opacity: 100%;
  }

  54% {
    opacity: 0%;
  }

  79% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
}

@keyframes grow {
  100% {
    font-size: 43px;
  }
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  display: grid;
  height: 100vh;
  margin: 0px;
  place-items: center;
  background: --bs-dark;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

section {
  min-height: 100vh;
  display: grid;
  place-items: center;
}


h1 {
  color: var(--amogus);
  font-weight: 400;
  margin: 0px;
  padding: 20px;
}

h3 {
  color: var(--amogus);
  font-weight: 400;
  margin: 0px;
  padding: 20px;
  text-align: center;
}


.navbar a {
  position: relative;
  font-size: 18px;
  opacity: 50%;
  font-weight: 500;
  text-decoration: none;
  margin-left: 60px;
  transition: 0.7s;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 110%;
  left: 0;
  width: 0;
  height: 2px;
  transition: .3s;
  background: #fff
}

.navbar a:hover::before {
  width: 100%;
}

.thingy {
  color: var(--amogus);
}

.home {
  font-size: 32px;
  color: var(--amogus);
  opacity: 50%;
  text-decoration: none;
  font-weight: 600;
  transition: 0.7s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  padding: 20px 100px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .7s;
}

.header:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(1, 1, 1, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.header:hover a {
  opacity: 1;
}


.out-view {
  opacity: 0;
}

.in-view {
  animation: fade-in 1s ease-in;
  -webkit-animation: fade-in 1s ease-in;
  -moz-animation: fade-in 1s ease-in;
  -ms-animation: fade-in 1s ease-in;
  -o-animation: fade-in 1s ease-in;
}


.box {
  font-size: 40px;
  display: grid;
  place-items: center;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: .6s ease;
}

.box3 {
  font-size: 60px;
  color: var(--amogus);
  display: grid;
  place-items: center;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: .7s;
  max-width: 1500px
}

.box2 {
  font-size: 100px;
  color: var(--amogus);
  display: grid;
  place-items: center;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: .7s;
}

.box1 {
  font-size: 175px;
  color: var(--amogus);
  display: grid;
  place-items: center;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: .7s;
}

.box:hover {
  transition: .6s ease;
  font-size: 47px;
}

.typing {
  width: 100%;
  font-size: 150px;
  animation: typing 2s;
  white-space: nowrap;
  overflow: hidden;
  transition: .5s;
}

.flicker {
  animation-name: flicker;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.theme-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.theme-container:hover {
  opacity: 0.8;
}

.shadow-dark {
  background: linear-gradient(145deg, #151515, #1e2125);
  box-shadow: 17px 17px 23px #1a1d20,
    -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
    inset -5px -5px 4px #24282c;
}

.shadow-light {
  box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
    inset 7px 7px 3px rgba(209, 217, 230, 0.35),
    inset -11px -11px 3px rgba(255, 255, 255, 0.3)
}

@keyframes change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}
